<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.trycatch.owner.mappers.menuMapper">  
    <select id="getMenucategorynum" resultType="int">
        select menu_category_num from menu_category where menu_category_name = #{menu_category_name}
    </select>
    <select id="getMenu_withMenu_num" resultType="MenuDTO">
        select * from menu where menu_num = #{menu_num}
    </select>
    <select id="getMenuList" resultType="MenuDTO">
        select m.menu_num, m.menu_name, m.menu_price, m.menu_category_num, c.menu_category_name, m.menu_image from menu m, menu_category c where m.menu_category_num=c.menu_category_num
    </select> 
    <select id="getMenuCategoryList" resultType="String">
        select menu_category_name from menu_category 
    </select>
</mapper>