<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.trycatch.owner.mappers.noticeMapper">  
    <select id="notice_list" resultType="NoticeDTO">
        select * from notice order by notice_pos
    </select>
    
    <insert id="notice_insert" parameterType="NoticeDTO">
    	insert into notice(notice_content, notice_pos, notice_depth, notice_hits, notice_date, notice_group, member_name) 
    	values(#{notice_content}, 0, 0, 0, now(),0, #{member_name})
    </insert>
    
    <update id="notice_pos_up">
    	update notice set notice_pos=notice_pos+1
    </update>
    
    <update id="notice_reply_pos_up">
		update notice set notice_pos=notice_pos+1 where notice_pos>#{notice_pos}
	</update>
	
    <select id="notice_reply_list" resultType="NoticeDTO">
    	select * from notice where notice_depth>0 order by notice_pos
    </select>
    
    <select id="notice_list_size" resultType="NoticeDTO">
    	select count(*) from notice where notice_depth=0
    </select>
    
    <insert id="notice_reply_insert" parameterType="NoticeDTO">
    	insert into notice(notice_content, notice_pos, notice_depth, notice_hits, notice_date,notice_group, member_name) 
    	values(#{notice_content}, #{notice_pos}+1, #{notice_depth}+1, 0, now(),#{notice_group}, #{member_name})
    </insert>
   
   <delete id="notice_delete">
   		delete from notice where notice_num=#{notice_num}
   </delete>
   
   <delete id="notice_delete_reply">
  		delete from notice where notice_group=#{notice_num}
   </delete>
   
   <delete id="myreply_delete">
   		delete from notice where notice_num=#{notice_num}
   </delete>
</mapper>