<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.trycatch.owner.mappers.noticeMapper">  
    <select id="notice_list" resultType="NoticeDTO">
        select n.notice_no, n.notice_content, n.notice_parent_no, n.notice_regdate, n.member_no, m.member_name from notice n, member m where n.notice_parent_no= 0 and m.member_no= n.member_no order by notice_regdate desc
    </select>
    
    <select id="notice_reply_list" resultType="NoticeDTO">
    	select n.notice_no, n.notice_content, n.notice_parent_no, n.notice_regdate, n.member_no, m.member_name from notice n, member m where n.notice_parent_no>0 and m.member_no = n.member_no order by notice_regdate desc
    </select>
    <select id="get_reply_count" resultType="int">
        select count(*) from notice where notice_parent_no=#{notice_parent_no}
    </select>
    <insert id="notice_insert" parameterType="NoticeDTO">
    	insert into notice(notice_content, member_no) values(#{notice_content}, #{member_no})
    </insert>
    <insert id="notice_reply_insert" parameterType="NoticeDTO">
    	insert into notice(notice_content, notice_parent_no, member_no) 
    	values(#{notice_content},#{notice_parent_no}, #{member_no})
    </insert>
    
   <delete id="notice_delete">
   		delete from notice where notice_no=#{notice_no} or notice_parent_no=#{notice_no}
   </delete>
</mapper>