<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.trycatch.owner.mappers.orderMapper">  
	<insert id="insertMaterial_Payment" parameterType="MaterialPaymentDTO">
		INSERT INTO material_payment(material_total_price, member_no, store_no) values (#{material_total_price}, #{member_no}, #{store_no});
	</insert>
	<insert id="insertMaterial_Order" parameterType="hashMap">
		INSERT INTO material_order(material_payment_no, material_no, material_count) values (#{material_payment_no}, #{material_no}, #{material_count})
	</insert>
	<select id="getMaterialPaymentList" parameterType="hashMap" resultType="MaterialPaymentDTO">
		select p.material_payment_no, p.material_total_price, p.material_payment_date, s.store_name, m.member_name from material_payment p, store s, member m where p.store_no = s.store_no and 
		p.member_no = m.member_no and s.store_no = #{store_no} and date(p.material_payment_date) = #{date}
	</select>
	<select id="getMaterialPaymentDetailList" parameterType="int" resultType="MaterialPaymentDetailDTO">
		select m.material_name, m.material_price, o.material_count, m.material_price * o.material_count as material_total_price from 
material_payment p, material_order o, material m where 
p.material_payment_no = o.material_payment_no and o.material_no = m.material_no and p.material_payment_no = #{material_payment_no};
	</select>
</mapper>