<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.trycatch.owner.mappers.orderMapper">  
	<select id="getOrder_Information" parameterType="int" resultType="Order_InformationDTO">
	       select order_name, order_tel, menu_reserve_time, menu_total_price, menu_order.menu_no, menu_count, menu_option, store_name from menu_payment
	    inner join menu_order on menu_payment.menu_payment_no = menu_order.menu_payment_no inner join store on menu_payment.store_no = store.store_no
	    inner join menu on menu_order.menu_no = menu.menu_num where store.member_no = #{member_no} and date(menu_reserve_time) = curdate() group by menu_reserve_time desc
	</select>
</mapper>